/*--Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-size: 16px;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    --dk-txt-clr: #2c2c2c;
    --lt-txt-clr: #fff;
    --dk-body-clr: hsla(217, 21%, 12%, 1);
    --lt-body-clr: #fff;

    --blue: #2f82fb;

    /* Sizing */
    --padding-sm: .5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;

    /* Text */
    --heading-font-family: "Poppins", sans-serif;
    --paragraph-font-family: "Assistant", sans-serif;

    /* Fluid Gradient for DARK Hero Sections */
    --radial-gradient-1: hsla(217, 21%, 12%, .9);
    --radial-gradient-2: hsla(217, 21%, 12%, .925);
    --radial-gradient-3: hsla(217, 21%, 12%, .950);
    --radial-gradient-4: hsla(217, 21%, 12%, .975);
    --radial-gradient-5: hsla(217, 21%, 12%, 1);
    --radial-gradient-6: hsla(217, 21%, 12%, 1);
}

*::before, *::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    text-decoration: none;
    color: var(--dk-txt-clr);
}

body {
  background: var(--lt-body-clr);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font-family);
}

p {
    line-height: 1.5;
    word-wrap: break-word; /* Add this to wrap long words */
    white-space: pre-wrap; /* Add this to preserve whitespace and wrap text */
}

li {
    list-style-position: inside;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
}

/* Global CSS */
.wrapper {
    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
}

.beastslayer-wild-hunt {
    background-image: url("../../images/global/beastslayer-wild-hunt.avif");
}
.blades-of-the-fallen-sun {
    background-image: url("../../images/global/blades-of-the-fallen-sun.avif");
}
.best-rpg-games {
    background-image: url("../../images/global/best-rpg-games.avif");
}
.blockforge-realm-of-legends {
    background-image: url("../../images/global/blockforge-realm-of-legends.avif");
}
.rise-of-the-infected {
    background-image: url("../../images/global/rise-of-the-infected.avif");
}
.echoes-of-rust {
    background-image: url("../../images/global/echoes-of-rust.avif");
}
.blade-of-the-ancients {
    background-image: url("../../images/global/blade-of-the-ancients.avif");
}
.the-forgotten-gate {
    background-image: url("../../images/global/the-forgotten-gate.webp");
}
.shadowborn {
    background-image: url("../../images/global/shadowborn.webp");
}

.showcasing-card-grid {
    --grid-min-col-size: 275px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}

.mini-card-grid {
    --grid-min-col-size: 200px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
    position: relative;
}

/* Card Layouts */
.showcasing-card *, .mini-card * {
    color: #fff;
    position: relative;
    z-index: 1;
}
.showcasing-card, .mini-card {
    border-radius: 10px;
    height: 27.5rem;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    align-content: end;
    transition: transform .2s ease-in-out;

    &:hover, &:focus-visible, &:active {
        transform: translateY(-5px);
    }
}
.showcasing-card::before, .mini-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(180deg, transparent, rgba(0,0,0,.1), rgba(0,0,0,1));
}
.showcasing-card .tab {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    border-radius: 100vw;
    padding: .25rem 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    width: fit-content;
}
.showcasing-card .tab.new-release {
    background-image: linear-gradient(180deg, hsl(159, 68%, 40%), hsl(159, 68%, 20%));
}
.showcasing-card .tab.best-seller {
    background-image: linear-gradient(180deg, hsl(18, 100%, 60%), hsl(18, 100%, 40%));
}
.showcasing-card .title {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.showcasing-card .subheading {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.mini-card {
    height: 20rem;
    overflow: hidden;
}
.mini-card h3 {
    font-size: 1rem;
}
.mini-card .price {
    font-weight: 900;
    position: absolute;
    top: 22px;
    left: -53px;
    background: rgba(0,0,0,.9);
    width: 12.5rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    transform: rotate(-45deg);
    color: #11FFBD;
}



/*---- Scrollbar ----*/
::-webkit-scrollbar {
   display: none;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
}

/*---- Sizing ----*/
.full-w {
    width: 100%;
}
.sm-w {
    width: .5rem;
}
.md-w {
    width: 1rem;
}
.lg-w {
    width: 2rem;
}
.full-h {
    height: 100%;
}
.sm-h {
    height: .5rem;
}
.md-h {
    height: 1rem;
}
.lg-h {
    height: 2rem;
}

/*---- Layout ----*/
.dsply-g {
    display: grid;
}
.pi-c {
    place-items: center;
}
.pc-c {
    place-content: center;
}
.grid-auto-fill {
    --grid-min-col-size: 300px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.dsply-f {
    display: flex;
}
.fd-col {
    flex-direction: column;
}
.a-fs {
    align-items: flex-start;
}
.a-fc {
    align-items: center;
}
.a-fe {
    align-items: flex-end;
}
.j-fs {
    justify-content: flex-start;
}
.j-fc {
    justify-content: center;
}
.j-fe {
    justify-content: flex-end;
}
.j-sb {
    justify-content: space-between;
}
.j-se {
    justify-content: space-evenly;
}
.j-sa {
    justify-content: space-around;
}
.fw-w {
    flex-wrap: wrap;
}
.fg-1 {
    flex-grow: 1;
}
.fg-2 {
    flex-grow: 2;
}
.fs-1 {
    flex-shrink: 1;
}
.fs-2 {
    flex-shrink: 2;
}
.sm-gap {
    gap: .5rem;
}
.md-gap {
    gap: 1rem;
}
.lg-gap {
    gap: 2rem;
}

/*---- Padding ----*/
.sm-pd {
    padding: .5rem;
}
.md-pd {
    padding: 1rem;
}
.lg-pd {
    padding: 2rem;
}
.sm-t-pd {
    padding-top: .5rem;
}
.md-t-pd {
    padding-top: 1rem;
}
.lg-t-pd {
    padding-top: 2rem;
}
.sm-r-pd {
    padding-right: .5rem;
}
.md-r-pd {
    padding-right: 1rem;
}
.lg-r-pd {
    padding-right: 2rem;
}
.sm-b-pd {
    padding-bottom: .5rem;
}
.md-b-pd {
    padding-bottom: 1rem;
}
.lg-b-pd {
    padding-bottom: 2rem;
}
.sm-l-pd {
    padding-left: .5rem;
}
.md-l-pd {
    padding-left: 1rem;
}
.lg-l-pd {
    padding-left: 2rem;
}
.sm-block-pd {
    padding-block: .5rem;
}
.md-block-pd {
    padding-block: 1rem;
}
.lg-block-pd {
    padding-block: 2rem;
}
.sm-inline-pd {
    padding-inline: .5rem;
}
.md-inline-pd {
    padding-inline: 1rem;
}
.lg-inline-pd {
    padding-inline: 2rem;
}

/*---- Margin ----*/
.mg-t-auto {
    margin-top: auto;
}
.mg-r-auto {
    margin-right: auto;
}
.mg-b-auto {
    margin-bottom: auto;
}
.mg-l-auto {
    margin-left: auto;
}
.mg-inline-auto {
    margin-inline: auto;
}
.sm-block-mg {
    margin-block: .5rem;
}
.md-block-mg {
    margin-block: 1rem;
}
.lg-block-mg {
    margin-block: 2rem;
}
.sm-inline-mg {
    margin-inline: .5rem;
}
.md-inline-mg {
    margin-inline: 1rem;
}
.lg-inline-mg {
    margin-inline: 2rem;
}
.sm-b-mg {
    margin-bottom: .5rem;
}
.md-b-mg {
    margin-bottom: 1rem;
}
.lg-b-mg {
    margin-bottom: 2rem;
}
.sm-t-mg {
    margin-top: .5rem;
}
.md-t-mg {
    margin-top: 1rem;
}
.lg-t-mg {
    margin-top: 2rem;
}
.sm-l-mg {
    margin-left: .5rem;
}
.md-l-mg {
    margin-left: 1rem;
}
.lg-l-mg {
    margin-left: 2rem;
}
.sm-r-mg {
    margin-right: .5rem;
}
.md-r-mg {
    margin-right: 1rem;
}
.lg-r-mg {
    margin-right: 2rem;
}

/*---- Font Weight ----*/
.sm-fw {
    font-weight: 100;
}
.md-fw {
    font-weight: 500;
}
.lg-fw {
    font-weight: 700;
}

/*---- Font Styling ----*/
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.sm-fs {
    font-size: .8rem;
}
.md-fs {
    font-size: 1rem;
}
.lg-fs {
    font-size: 2rem;
}

/*---- Line Clamp ----*/
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    /* height: 2.5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    /* height: 5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* height: 7.5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/*---- Outline ----*/
.outline {
    outline: 1px solid red;
}

/*---- Hard Coded ----*/
.center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.visually-hidden {
    user-select: none;
    pointer-events: none;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    position: absolute;
    color: #fff;
}

/*---- Keyframe Presets ----*/
.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
}
.slide-in-right {
    animation: slideInFromRight 0.5s ease-out forwards;
}
.slide-in-bottom {
    animation: slideInFromBottom 0.5s ease-out forwards;
}
.slide-in-top {
    animation: slideInFromTop 0.5s ease-out forwards;
}
.fade-in {
    animation: fade-in 0.5s ease-out forwards;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 475px) {
    .mini-card-grid, .showcasing-card-grid {
        display: flex;
        overflow: auto;
    }
    .mini-card-grid .mini-card {
        min-width: 90%;
    }
    .showcasing-card-grid .showcasing-card {
        min-width: 90%;
    }
}