/*--Fonts--*/
@import url('./fonts.css');

:root {
    font-size: 16px;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    --dk-txt-clr: #2c2c2c;
    --lt-txt-clr: #fff;
    --dk-body-clr: hsla(217, 21%, 12%, 1);
    --lt-body-clr: #fff;

    --assistant: "Assistant", sans-serif;

    --blue: hsl(216, 96%, 50%);

    /* Text */
    --heading-font-family: "Poppins", sans-serif;
    --paragraph-font-family: "Assistant", sans-serif;
}

*::before, *::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    text-decoration: none;
    color: var(--dk-txt-clr);
}

body {
  background: var(--lt-body-clr);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font-family);
}

p {
    line-height: 1.5;
    word-wrap: break-word; /* Add this to wrap long words */
    white-space: pre-wrap; /* Add this to preserve whitespace and wrap text */
}

li {
    list-style-position: inside;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
}

.dialog-sorry-msg-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    height: 100%;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(5px);
    z-index: 2;
    display: grid;
    place-items: center;
    padding: 1rem;
    text-align: center;
    display: none;
}
.dialog-sorry-msg-box .dialog-shell {
    max-width: 30rem;
    width: 100%;
    max-height: 30rem;
    height: 100%;
    background: hsl(0, 0%, 90%);
    padding: 1rem;
    border-radius: 20px;
    overflow: scroll;
}
.dialog-sorry-msg-box .dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 20px;
    position: relative;
    box-shadow: var(--box-shadow);
}
.dialog-sorry-msg-box .close-dialog {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    color: #fff;
    min-height: 3rem;
    padding-inline: 2rem;
    border-radius: 100vw;
    font-size: 1.2rem;
    transition: transform .2s ease-in-out;

    &:focus-visible, &:active {
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
    &:hover {
        transform: translateY(-3px);
    }
}
.dialog-sorry-msg-box .close-dialog i {
    color: inherit;
    font-size: .8rem;
    margin-top: 5px;
}

/* Header CSS */
header {
    background: #000;
    color: #fff;
    position: relative;
    height: 8.5rem;
}
header .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
}
header *:not(form) {
    color: inherit;
}
/* Header Top Section - Desktop View */
header .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}
header .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    padding: .5rem 1rem;
    height: 100%;
    transition: font-size .2s ease-in-out;

    &:focus-visible {
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}
header .logo span {
    color: #9fc0ff;
    font-family: inherit;
}
header .header__top form {
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 30rem;
    width: 100%;
}
header .header__top input {
    border: none;
    padding-inline: .5rem;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid hsl(0, 0%, 80%);
    flex: 1;

    &:focus {
        outline: none;
    }

    &:hover, &:focus-visible {
        background: hsl(0,0%,95%);
    }
}
header .header__top .search-btn {
    width: 3rem;
    background: #2f82fb;
    color: #fff;
    border-radius: 0 5px 5px 0;

    &:focus-visible, &:active {
        outline: 3px solid #fff;
        outline-offset: -6px;       
    }
}

header .header__top .desktop-nav {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
    margin-right: 1rem;
}
header .header__top .desktop-nav a:hover {
    background: rgba(255,255,255,.2) !important;
}
header .header__top nav a:not(.mobile-links__grouping a) {
    border-radius: 50%;
    background: rgba(255,255,255,.15);
}
header .header__top nav a:not(.mobile-links__grouping a), header .header__top .mobile-menu, header .menu-popup .close-menu {
    display: grid;
    place-items: center;
    font-size: 1rem;
    height: 2.5rem !important;
    max-width: 2.5rem;
    min-width: 2.5rem;
    transition: background .2s ease-in-out;
    &:hover {
        background: rgba(255,255,255,.15);
    }
    &:focus-visible, &:active {
        outline: 2px solid #fff;
        outline-offset: -2px;     
        background: rgba(255,255,255,.15);  
    }
}
header .header__top .mobile-menu {
    margin-right: 1rem;
    border-radius: 5px;
}
header .header__top form .connector {
    display: flex;
    position: relative;
}
header .header__top form .selected-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    padding-inline: .5rem;
    width: 10rem;
    background: #fff;
    color: hsl(0, 0%, 40%);
    font-size: .85rem;
    transition: background .2s ease-in-out;

    &:hover, &:focus-visible {
        background: hsl(0,0%,95%);
    }
}
header .header__top input::placeholder {
    color: hsl(0, 0%, 40%);
    font-size: .85rem;
}
header .header__top form .selected-category i {
    font-size: .5rem;
}
header .header__top .form-category__listing {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transform: translateY(calc(100% + 3px));
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding-block: .5rem;
    color: hsl(0, 0%, 40%);
    font-size: .85rem;
    box-shadow: var(--box-shadow);
    display: none;
    z-index: 2;
}
header .header__top .form-category__listing * {
    color: inherit;
    font-size: inherit;
}
header .header__top .form-category__listing button {
    padding: .5rem 1rem;
    width: 100%;
    text-align: left;

    &:hover {
        background: rgba(0,0,0,.05);
    }
}
header .header__top .form-category__listing .active {
    background: rgba(0,0,0,.05);
}
header .header__top .header-label {
    display: flex;
    align-items: center;
    pointer-events: none;
    margin-block: .5rem;
}
header .header__top .header-label p {
    margin-inline: .5rem;
}
header .header__top .header-label__dash {
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

/* Header Top Section - Mobile View */
header .header__top .mobile-menu {
    display: none;
}
header .header__top .mobile-menu.active {
    background: rgba(255,255,255,.15);
}
header .menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 5%);
    color: var(--lt-txt-clr);
    max-width: 25rem;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    overflow: auto;
    padding-bottom: 1rem;
    z-index: 9999;
    border-radius: 0 30px 30px 0;
    display: none;
}
header .menu-popup .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}
header .menu-popup .header > * {
    height: 100%;
}
header .menu-popup .logo {
    font-weight: 700;
    font-size: 1.2rem;
    align-content: center;
}
header .menu-popup .close-menu {
    border-radius: 5px;
    margin-right: 1rem;
    &:hover, &:focus-visible {
        background: rgba(255,255,255,.1);
    }
    &:focus-visible, &:active {
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}
header .mobile-form, header .mobile-links {
    margin-block: 1rem;
    padding-inline: 1rem;
    flex-direction: column;
    gap: .5rem;
    height: auto !important;
}
header .mobile-form__row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header .mobile-form input, header .mobile-form .search-btn {
    max-height: 2.5rem;
    min-height: 2.5rem;
}
header .header__top .mobile-form .selected-category {
    height: 2.5rem;
    width: 100%;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
    color: #fff;

    &:hover, &:focus-visible {
        background: rgba(255,255,255,.2);
    }
}
header .header__top .mobile-form .form-category__listing {
    flex-direction: row;
    padding: 0;
    width: fit-content;
    position: static;
    transform: none;
    margin-block: .5rem;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    background: none;
    border: none;
}
header .header__top .mobile-form .form-category__listing button {
    width: max-content;
    text-align: center;
    background: #2f82fb;
    color: #fff;
    border-radius: 25px;
    flex-grow: 1;
    transition: background .2s ease-in-out;

    &:hover, &:active, &:focus-visible {
        background: hsl(216, 96%, 40%);
    }

    &:active, &:focus-visible {
        outline: 2px solid #fff;
        outline-offset: -4px;
    }
}
header .header__top .mobile-form .form-category__listing button.active {
    background: hsl(216, 96%, 40%);
}
header .header__top .mobile-nav {
    display: flex;
    height: auto;
    border-block: 1px solid #333;
    gap: 0;
}
header .header__top .menu-popup .mobile-nav a {
    flex-grow: 1;
    height: auto;
    max-width: none;
    min-width: auto;
    border-radius: 0;
    height: 4rem !important;
    background: none;

    &:hover {
        background: rgba(255,255,255,.15);
    }
    &:active, &:focus-visible {
        background: rgba(255,255,255,.15);
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}
header .mobile-search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header .mobile-search-container label {
    width: fit-content;
}
header .mobile-search-container label, header .menu-popup .header-label{
    color: #fff;
    font-style: italic;
    font-size: .8rem;
    opacity: .5;
}
header .mobile-links__grouping {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
}
header .mobile-links__grouping a {
    height: 2.5rem;
    align-content: center;

    &:hover {
        text-decoration: underline;
    }
}
header .mobile-links__grouping a.cta {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    text-align: center;
    border-radius: 100vw;
    margin-top: 1rem;

    &:hover {
        text-decoration: none;
    }
    &:focus-visible, &:active{
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}


/* Header Bottom Section */
header .header__bottom {
    display: flex;
    gap: 1rem;
    height: 3rem;
    padding-inline: 1rem;
}
header .header__bottom a {
    background: rgba(255,255,255,.15);
    flex-grow: 1;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    font-weight: 700;
    transition: background .2s ease-in-out;

    &:hover {
        background: rgba(255,255,255,.2);
    }
    &:focus-visible, &:active{
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}

header .header__bottom a.cta {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
}

/* Global CSS */
.wrapper {
    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
}

.beastslayer-wild-hunt {
    background-image: url("../../images/global/beastslayer-wild-hunt.avif");
}
.blades-of-the-fallen-sun {
    background-image: url("../../images/global/blades-of-the-fallen-sun.avif");
}
.best-rpg-games {
    background-image: url("../../images/global/best-rpg-games.avif");
}
.blockforge-realm-of-legends {
    background-image: url("../../images/global/blockforge-realm-of-legends.avif");
}
.rise-of-the-infected {
    background-image: url("../../images/global/rise-of-the-infected.avif");
}
.echoes-of-rust {
    background-image: url("../../images/global/echoes-of-rust.avif");
}
.blade-of-the-ancients {
    background-image: url("../../images/global/blade-of-the-ancients.avif");
}
.the-forgotten-gate {
    background-image: url("../../images/global/the-forgotten-gate.webp");
}
.shadowborn {
    background-image: url("../../images/global/shadowborn.avif");
}
.eclipse-requiem {
    background-image: url("../../images/global/eclipse-requiem.avif");
}
.saga-of-the-fallen-gods {
    background-image: url("../../images/global/saga-of-the-fallen-gods.avif");
}
.eclipse-warfront {
    background-image: url("../../images/global/eclipse-warfront.avif");
}
.nocturnal-descent {
    background-image: url("../../images/global/nocturnal-descent.avif");
}
.melody-quest {
    background-image: url("../../images/global/melody-quest.avif");
}

.showcasing-card-grid {
    --grid-min-col-size: 275px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 2rem 1rem; 
}

.mini-card-grid {
    --grid-min-col-size: 200px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 2rem 1rem;
    position: relative;
    padding-top: 2rem;
    padding-inline: 1rem;
}

main .mini-card-container {
    display: flex;
    flex-direction: column-reverse;
}
main .overflow-slider {
    padding: 2rem 1rem !important;
}

.previous-next-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-bottom: 2rem;
    display: none;
}
.previous-next-container button {
    color: #fff;
    background: var(--blue);
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: transform .5ms ease-in-out;

    &:focus-visible, &:active {
        transform: scale(.90);
    }
    &:focus-visible {
        outline-offset: 4px;
    }
}
.previous-next-container button.black-focus:focus-visible {
    outline: 3px solid #000;
}
.previous-next-container button.white-focus:focus-visible {
    outline: 3px solid #fff;
}
.previous-next-container button i {
    color: inherit;
}

/* Card Layouts */
.showcasing-card *, .mini-card * {
    color: #fff;
    position: relative;
    z-index: 1;
}
.showcasing-card, .mini-card {
    border-radius: 10px;
    height: 27.5rem;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    align-content: end;
    transition: transform .2s ease-in-out;

    &:hover, &:focus-visible, &:active {
        transform: translateY(-10px);
    }
}
.showcasing-card::before, .mini-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(180deg, transparent, rgba(0,0,0,.1), rgba(0,0,0,1));
}   
.showcasing-card .tab {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    border-radius: 100vw;
    padding: .25rem 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    width: fit-content;
}
.showcasing-card .tab.new-release {
    background-image: linear-gradient(180deg, hsl(159, 68%, 40%), hsl(159, 68%, 20%));
}
.showcasing-card .tab.best-seller {
    background-image: linear-gradient(180deg, hsl(18, 100%, 60%), hsl(18, 100%, 40%));
}
.showcasing-card .title {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.showcasing-card .subheading {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.mini-card {
    height: 20rem;
    overflow: hidden;
    background: hsl(0, 0%, 25%);

    &:focus-visible {
        outline: 3px solid #000;
        outline-offset: 4px;
    }
}
.mini-card h3 {
    font-size: 1rem;
    z-index: 2;
}
.mini-card .price {
    font-weight: 900;
    position: absolute;
    top: 22px;
    left: -53px;
    background: rgba(0,0,0,.9);
    width: 12.5rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    transform: rotate(-45deg);
    color: #11FFBD;
    z-index: 2;
}
.mini-card .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: inherit;
}
.mini-card .bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(0,0,0,.1), rgba(0,0,0,1));
    border-radius: inherit;
    z-index: 2;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
}
footer .top-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem 5rem;
    padding: 2rem 1rem;
}
footer .top-footer .left-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
}
footer .top-footer nav {
    display: flex;
    flex-direction: column;
}
footer .top-footer h2 {
    font-size: 1rem;
    text-transform: uppercase;
}
footer .top-footer nav a {
    height: 2rem;
    align-content: center;

    &:hover {
        text-decoration: underline;
    }
}
footer .top-footer .right-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: right;
}
footer .top-footer .rating-container {
    padding: .5rem 1rem;
    border: 1px solid hsl(0, 0%, 80%);
    width: fit-content;
    margin-left: auto;
    border-radius: 100vw;
}
footer .top-footer .rating-container i {
    color: hsl(36, 100%, 63%);
}
footer .top-footer .rating {
    font-weight: 700;
    margin-left: .5rem;
}
footer .publishing-services {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .5rem;
}
footer .publishing-services a {
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: .75rem 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: background .2s ease-in-out;

    &:hover {
        background: hsl(0, 0%, 10%);
    }
    &:focus-visible {
        outline: 2px solid #fff;
        outline-offset: -4px;
    }
}
footer .publishing-services i {
    color: inherit;
    font-size: 1.2rem;
    margin-right: .5rem;
}
footer .divider {
    height: 1px;
    width: 100%;
    background: #EAEAEA;
}
footer .bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}
footer .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    max-width: 30rem;
    width: 100%;
  }
footer .bottom-footer .marquee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255,255,255,1), transparent, transparent, rgba(255,255,255,1));
    z-index: 2;
  }
footer .marquee__content {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
  }
footer .marquee__content > * {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    background: #457fca;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    outline: 2px solid #fff;
    outline-offset: -4px;
    text-align: center;
    font-family: system-ui, sans-serif;
}
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  
  

/*---- Scrollbar ----*/
::-webkit-scrollbar {
   display: none;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
}


/*---- Line Clamp ----*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* height: 7.5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/*---- Hard Coded ----*/
.visually-hidden {
    user-select: none;
    pointer-events: none;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    position: absolute;
    color: #fff;
}

/*---- Keyframe Presets ----*/
.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
}
.slide-in-right {
    animation: slideInFromRight 0.5s ease-out forwards;
}
.slide-in-bottom {
    animation: slideInFromBottom 0.5s ease-out forwards;
}
.slide-in-top {
    animation: slideInFromTop 0.5s ease-out forwards;
}
.fade-in {
    animation: fade-in 0.5s ease-out forwards;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 900px) {
    header .header__top .desktop-form, header .header__top .desktop-nav, header .header__bottom {
        display: none;
    }
    header .header__top .mobile-menu {
        display: grid;
    }
    header .logo {
        font-size: 1.2rem;
    }
    header {
        height: 4.5rem;
    }
}
@media (min-width: 900px) {
    header .menu-popup {
        display: none !important;
    }
}
@media (max-width: 770px) {
    footer .top-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    footer .top-footer .right-wrapper {
        text-align: left;
    }
    footer .top-footer .rating-container {
        margin-inline: 0 auto;
    }
    footer .publishing-services {
        justify-content: flex-start;
    }
}
@media (max-width: 900px) {
    .mini-card-grid, .showcasing-card-grid {
        display: flex;
        overflow: auto;
    }
    .mini-card-grid .mini-card {
        min-width: 70%;
    }
    .showcasing-card-grid .showcasing-card {
        min-width: 70%;
    }
    main .hero {
        gap: 1rem;
    }
    .previous-next-container {
        display: flex;
    }
}
@media (max-width: 480px) {
    header .menu-popup {
        max-width: 100vw;
        border-radius: 0;
    }
    footer .bottom-footer .languages span {
        flex-grow: 1;
    }
}