main {
    display: flex;
    flex-direction: column;
}
main section:first-of-type {
    margin-top: 2rem;
}
main .section-header {
    padding-inline: 1rem;
}
main .bg-bleed {
    background: #000;
    padding-top: 2rem;
}
main .bg-bleed * {
    color: #fff;
}
main .bg-bleed .mini-card {
    border: 1px solid #fff;
}
.bubble {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-image: radial-gradient(rgba(255,255,255,.25), rgba(255,255,255,.50), rgba(255,255,255,.75), rgba(255,255,255,1), rgba(255,255,255,1)), url("../../images/best-sellers/bubbles.avif");
    background-size: cover;
    background-position: center;
    z-index: -999;
    animation: hover 2s linear infinite;
}
.bubble.one {
    top: 15rem;
    left: 20rem;
}
.bubble.two {
    bottom: 15rem;
    right: 20rem;
}

@keyframes hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}