main {
    display: flex;
    flex-direction: column;
}
main section:first-of-type {
    margin-top: 2rem;
}
main .section-header {
    padding-inline: 1rem;
}
main .bg-bleed {
    background: #000;
    color: #fff;
    background-image: radial-gradient(hsla(265, 98%, 75%, .1) 1px, transparent 1px);
    background-size: 10px 10px;
    padding-top: 2rem;
}
main .bg-bleed * {
    color: #fff;
}
main .bg-bleed .mini-card {
    border: 1px solid #333;
}
.bubble {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-image: radial-gradient(rgba(255,255,255,.25), rgba(255,255,255,.50), rgba(255,255,255,.75), rgba(255,255,255,1), rgba(255,255,255,1)), url("../../images/best-sellers/bubbles.avif");
    background-size: cover;
    background-position: center;
    z-index: -999;
    animation: hover 2s linear infinite;
}
main .mini-card-container {
    position: relative;
}
.bubble.one {
    top: 0;
    left: 2rem;
}
.bubble.two {
    bottom: 0;
    right: 2rem;
}

@keyframes hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@media (max-width: 600px) {
    .bubble {
        display: none;
    }
}