main .hero.wrapper {
    padding: 2rem 1rem;
}
main .hero .title {
    font-size: 2rem;
}
main .hero img {
    max-width: 15.625rem;
    width: 100%;
    height: auto;
}
main .hero .content {
    display: grid;
    place-items: center;
    padding-block: 5rem;
    text-align: center;
}
main .hero .content > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
main .hero p button {
    text-decoration: underline;
    color: blue;
}
main .hero .content button:not(main .hero p button) {
    height: 3rem;
    padding-inline: 2rem;
    border-radius: 100vw;
    background: var(--blue);
    color: #fff;
    margin-top: 2rem;
}

/* Payment section */
main .payment-methods {
    background: #000;
    color: #fff;
    background-image: radial-gradient(hsla(265, 98%, 75%, .1) 1px, transparent 1px);
    background-size: 10px 10px;
}
main .payment-methods * {
    color: #fff;
    pointer-events: none;
    font-size: 1rem;
}
main .payment-methods .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem 1rem;
    width: 100%;
}
main .payment-methods .flex-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    flex-grow: 2;
}
main .payment-methods .title, main .payment-methods .more {
    opacity: .5;
    font-weight: 400;
    font-family: var(--assistant);
    min-width: max-content;
}
main .payment-methods .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    width: max-content;
    background: rgba(255,255,255,.1);
    padding: .5rem 1rem;
    border-radius: 100vw;
    flex-grow: 2;
}
main .payment-methods .item:nth-child(1) > * {
    color: hsl(227, 100%, 77%);
}
main .payment-methods .item:nth-child(2) > * {
    color: hsl(34, 89%, 59%);
}
main .payment-methods .item:nth-child(3) > * {
    color: hsl(147, 96%, 80%);
}
main .payment-methods .item:nth-child(4) > * {
    color: hsl(208, 92%, 75%);
}
main .payment-methods .item span {
    font-weight: 700;
}
main .payment-methods .item i {
    font-size: 1.5rem;
}