main .hero {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
}

main .hero .wrapper {
    padding: 2rem 1rem 0 1rem;
}
/* Choose Your Platform section */
main .choose-your-platform .wrapper.one {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 0 1rem;
}
main .choose-your-platform .mini-card-grid {
    padding: 0 1rem 0 1rem;
}
main .choose-your-platform .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
main .choose-your-platform .header nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 35rem;
    width: 100%;
}
main .choose-your-platform .header .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: 1px solid #cccccc;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: 10px;
    transition: background .2s ease-in-out, transform .2s ease-in-out;
    flex-grow: 1;


    &:hover, &:active, &:focus-visible {
        transform: translateY(-5px);
    }
    &:hover, &:active {
        background: hsl(0, 0%, 95%);
    }
    &:active {
        outline: 2px solid #000;
        outline-offset: -1;
    }
}
main .choose-your-platform .header img {
    max-width: 1.5rem;
    min-width: 1.5rem;
    width: 100%;
}

/* Choose Your Platform - QR Container */
main .choose-your-platform .qr-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: #212121;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
main .choose-your-platform .qr-container * {
    color: #fff;
}
main .choose-your-platform .qr-bg {
    display: grid;
    place-items: center;
    background: #fff;
    padding: 1rem;
    flex-grow: 1;
}
main .choose-your-platform .qr-bg img {
    max-width: 5rem;
    min-width: 5rem;
    width: 100%;
}
main .choose-your-platform .qr-container a {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,.1);
    background: rgba(255,255,255,.05);
    box-shadow: var(--box-shadow);

    &:hover {
        background: rgba(255,255,255,.1);
        border-color: #fff;
    }
}
main .choose-your-platform .qr-container a i {
    display: grid;
    place-items: center;
    max-width: 3rem;
    min-width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.1);
    font-size: 1rem;
    box-shadow: var(--box-shadow);
}
main .choose-your-platform .qr-container a h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 18rem;
    width: 100%;
}
main .choose-your-platform .qr-container a p {
    opacity: .5;
    max-width: 14rem;
    width: 100%;
}

/* Choose Your Platform - General Links */
main .choose-your-platform .general-links {
    border-radius: 100vw;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
main .choose-your-platform .general-links a.first {
    border-radius: 100vw 0 0 100vw;
    border-right: 1px solid #cccccc;
}
main .choose-your-platform .general-links a.middle {
    border-inline: 1px solid #cccccc;
}
main .choose-your-platform .general-links a.last {
    border-radius: 0 100vw 100vw 0;
    border-left: 1px solid #cccccc;
}
main .choose-your-platform .general-links a {
    flex-grow: 2;
    height: 100%;
    display: grid;
    padding-inline: 1rem;
    place-items: center;
    height: 3rem;
    transition: background .2s ease-in-out;

    &:hover {
        background: hsl(0, 0%, 95%);
    }
}

/* Best Sellers Section */
main .best-sellers-header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
main .best-sellers-header a {
    color: blue;
    text-decoration: underline;

    &:active, &:focus-visible {
        outline: 2px solid #000;
        outline-offset: 4px;
    }
}


/* Flash Deal Section */
main .flash-deal-section {
    background-size: cover;
    background-position: center;
}
main .flash-deal-section .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 0;
    gap: 1rem;
}
main .flash-deal-section .flash-deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-image: linear-gradient(180deg, hsla(258, 76%, 93%, 1), hsla(258, 76%, 80%, 1), hsla(258, 75%, 62.5%, 1));
    color: #000;
    margin-left: 1rem;
}
main .flash-deal-section .flash-deal * {
    color: inherit;
} 
main .flash-deal .timer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-bottom: 2rem;
    pointer-events: none;
}
main .flash-deal .ticker {
    display: grid;
    place-items: center;
    background: hsla(0, 0%, 100%, .5);
    border-radius: 10px;
    height: 4rem;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    position: relative;
}
main .flash-deal .ticker::before {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: .8rem;
    font-weight: 400;
}
main .flash-deal .ticker.hours::before {
    content: 'Hours';
}
main .flash-deal .ticker.minutes::before {
    content: 'Minutes';
}
main .flash-deal .ticker.seconds::before {
    content: 'Seconds';
}
main .flash-deal .colon {
    align-content: center;
    font-size: 2rem;
    font-weight: 900;
    height: 4rem;
}
main .flash-deal .img {
    height: 15rem;
    width: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: top center;
    position: relative;
}
main .flash-deal .save-tab {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: 20px 0 20px 0;
    background: #df2f1c;
    padding: .5rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}
main .flash-deal .title {
    margin-right: auto;
    color: #fff;
}
main .flash-deal .left-available-container {
    color: #fff;
    width: 100%;
}
main .flash-deal .left-available-container .labels {
    display: flex;
    justify-content: space-between;
}
main .flash-deal .left-available-container .labels span {
    font-weight: 900;
}
main .flash-deal .progress-bar {
    background-image: linear-gradient(90deg, hsl(20, 100%, 50%), yellow);
    height: .75rem;
    border-radius: 100vw;
}
main .flash-deal .footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    gap: 1rem;
}
main .flash-deal .footer .row {
    display: flex;
    align-items: center;
    gap: .5rem;
}
main .flash-deal .current-price {
    font-size: 3rem;
    font-weight: 700;
}
main .flash-deal .original-price {
    text-decoration: line-through;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: .8;
}
main .flash-deal .discount {
    background: #45a247;
    padding: .25rem 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 100vw;
}
main .flash-deal .add-to-cart {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    background: hsl(121, 40%, 45%);
    border-radius: 50%;
    outline: 2px solid #fff;
    outline-offset: -6px;

    &:focus-visible {
        outline-offset: 3px;
        border-radius: 5px;
        animation: add-to-cart-focus 2s linear infinite;
        background: hsl(121, 40%, 40%);
    }
}
@keyframes add-to-cart-focus {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-5px);
    }
}
main .currently-trending-offers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    grid-column: span 2;
}
main .currently-trending-offers .column {
    display: flex;
    flex-direction: column-reverse;
}
main .currently-trending-offers .previous-next-container {
    padding: 0;
    display: none;
}
main .currently-trending-offers * {
    color: inherit;
}
main .currently-trending-offers .labels {
    text-align: center;
}
main .currently-trending-offers .labels h2 {
    font-size: 2rem;
}
main .currently-trending-offers .grid {
    --grid-min-col-size: 300px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
    padding-right: 1rem;
    padding-block: 1rem;
    overflow: auto;
}
main .currently-trending-offers .item {
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    outline: 2px solid #222;
    outline-offset: -6px;
    backdrop-filter: blur(5px);
    transition: transform .2s ease-in-out;

    &:focus-visible, &:active {
        outline-color: hsl(0, 0%, 90%);    
    }
    &:hover {
        transform: translateY(-5px);
    }
}
main .currently-trending-offers .item .sponsored {
    text-transform: uppercase;
    opacity: .75;
}
main .currently-trending-offers .item .sponsored i {
    opacity: .5;
}
main .currently-trending-offers .item .content {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}
main .currently-trending-offers .item .img {
    height: 10rem;
    width: 7.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
main .currently-trending-offers .item .content > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .currently-trending-offers .item .content > div .pricing {
    font-size: 2rem;
    font-weight: 900;
}


@media (max-width: 1200px) {
    main .choose-your-platform .general-links {
        border-radius: 0;
        gap: 1rem;
        border: none;
    }
    main .choose-your-platform .general-links a {
        border-radius: 0 !important;
        border: 1px solid #cccccc;
    }
    main .currently-trending-offers .previous-next-container {
        display: flex;
        padding-right: 1rem;
    }
    main .currently-trending-offers .grid {
        display: flex;
        padding-right: 1rem;
    }
    main .currently-trending-offers .item {
        min-width: 400px;
    }
    main .flash-deal-section .wrapper {
        padding-right: 0;
    }
}

@media (max-width: 1000px) {
    main .flash-deal-section .wrapper {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
    }
    main .flash-deal {
        height: fit-content;
        width: 100%;
    }
    main .currently-trending-offers .labels h2 {
        font-size: 1.5rem;
    }
    main .flash-deal .footer {
        flex-wrap: wrap;
    }
    main .currently-trending-offers .grid {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 0;
    }
    main .currently-trending-offers .previous-next-container {
        display: none;
    }
    main .flash-deal .img {
        height: 20rem;
    }
    main .currently-trending-offers .item {
        min-width: 400px;

        &:hover {
            transform: translateY(-5px);
        }
    }

}

@media (max-width: 770px) {
    main .flash-deal-section .wrapper {
        flex-direction: column;
    }
    main .flash-deal {
        width: auto;
        margin-right: 1rem;
    }
    main .currently-trending-offers .grid {
        flex-direction: row;
        padding-inline: 1rem;
        padding-bottom: 1rem;
    }
    main .currently-trending-offers .previous-next-container {
        display: flex;
        padding-left: 1rem;
    }
    main .currently-trending-offers .labels {
        padding-right: 1rem;
    }
    main .flash-deal-section .wrapper {
        padding-right: 0;
    }
    main .currently-trending-offers .labels {
        padding-inline: 1rem;
    }
}
@media (max-width: 600px) {
    main .currently-trending-offers .item {
        min-width: 90%;
    }
}
@media (max-width: 410px) {
    main .flash-deal .add-to-cart {
        display: none;
    }
}